/* Conteúdo centro */
#center{margin-left:240px; padding-bottom:30px;}
#center img{padding-bottom:6px;}

#title_game{position:absolute; margin-top:23px; margin-left:25px; font-size:14px;  color:#fff; font-weight:bold; }
#title_game a:hover{color:#e8f0f1;}

#box_top{background:url('../img/center/box_top.png'); width:520px; height:92px; position:absolute; top:285px;}
#top2{height:53px;}
#box_center{background:url('../img/center/box_center.png'); width:520px; padding-top:15px; height:auto; }
#box_center p{font-size:12px; color:#fff; margin-left:50px; padding-bottom:20px; line-height:20px;text-align:left; width:420px;}
#box_down1{background:url('../img/center/box_down1.png'); width:520px; height:58px;}
#box_down2{background:url('../img/center/box_down2.png'); width:520px; height:58px;}
#box_center .send{color:#fff; cursor:pointer; font-weight:bold;}

/* FAQ */
.tit{height:auto; margin-top:15px; padding-bottom:10px; color:#dfe2e3; font:bold 14px Verdana, Tahoma, Sans-serif; cursor:pointer;} 
#ul_faq  li{width:420px;}
#ul_faq  li p, .resu{ color:#9dc9d1; text-align:justify; width:400px; line-height:18px;}

#ul_faq  li p{margin-left:0; background:#28474d; color:#bfdadf; padding:10px; font:normal 13px Verdana, Tahoma, Sans-serif; line-height:20px;}

#menu_box{position:absolute; font-size:13px; margin-top:25px; margin-left:25px;}
.desc{position:absolute; margin-left:34px;}
.down{position:absolute; margin-left:143px;}
.img{position:absolute; margin-left:255px;}
.vid{position:absolute; margin-left:370px;}

#menu_box a{ color:#fff; }
#menu_box a:hover{ color:#b8f5ff;}

/* Compartilhar */
#sharer_btn{padding-bottom:10px !important; width:425px !important;  margin-top:30px; text-align:right !important;}
#sharer_btn a{color:#d9eff3; font-weight:bold;}
#sharer_btn img{vertical-align:-13px;}

/* Validação formulário*/
#error_icon {background: url('../img/center/error_icon.png');background-position: 0 -16px;}
.validVal{background: url('../img/center/check.png');background-position: 0 -16px;position:absolute;margin-left:5px;width:16px;height:16px;}
label{color:#d1d1d1;}

.frmData input, select, textarea {position:inherit; background:#102529; height:15px;	border:none; color:#8f8f8f; padding:7px;}
.frmData textarea {width:380px; height:80px; margin-bottom3px; overflow:auto;}
.frmData select {width:245px; height:30px; }
.frmData dt{padding:10px 0 10px 0;}
.frmData legend {font-size:13px; margin-left:87px; height:40px; margin-bottom:15px; padding-top:15px; width:400px; color:#fff;}
.frmData .send{height:30px; margin:10px 0 0 335px; width:60px;}
.frmData{font-size:12px; margin-left:65px; padding-bottom:30px; color:#8f8f8f;}

#error_icon{background:url('../img/error_icon.png') no-repeat; width:14px; height:14px; width:400px; padding-left:20px;}
#cont{display: none; margin-top:5px;}

/* TERMOS DE USO */
#termUse{overflow:scroll-y;}

/*Jogos*/
#game_vid {margin-left:50px; margin-top:10px; background:#0c262a; border:10px solid #0c262a;}
#l_vid{margin:20px 20px 0 40px; padding-bottom:70px;}

#l_vid a,.curtir{background:#0d282d; color:#87acb3; padding:15px; margin-left:10px;  font-size:15px;}
#l_vid a:hover,.curtir:hover{background:#2e5056; color:#bbe3ea;}

#box_center .t_down{color:#cde2e6; font:bold 25px Tahoma; margin-left:47px; letter-spacing:1px;}
#box_center .t_down2{font-size:20px; margin-top:10px;}
#box_center .t_vid{color:#cde2e6; font:bold 25px Tahoma; margin-left:50px; letter-spacing:1px;}

#box_center ul{color:#fff; font-size:12px; width:300px; margin-left:10px; padding-bottom:27px;}
#t_req li{font-size:14px; width:400px; margin-top:7px;}

/*.maple{margin-left:-10px; padding:10px; display:inline; float:left;}*/
.gallery ul img{clear:both;}
.gallery_img {margin:10px; margin-left:12px; border:3px solid #43646a;}
.gallery_img:hover {border:3px solid #7eb1ba;}

#t_screen {padding-bottom:60px;}
#t_screen p{position:absolute; top:390px; color:#cde2e6; font:bold 25px Tahoma; margin-left:62px; letter-spacing:1px;}
#center li.gallery{width:500px;}
