/* Conteúdo centro */
#center{margin-left:240px; padding-bottom:30px;}
#center img{padding-bottom:6px;}

#title_game{position:absolute; margin-top:23px; margin-left:25px; font-size:14px;  color:#dbdbdb; font-weight:bold; }

#box_top{background:url('../img/center/box_top.png'); width:520px; height:123px; position:absolute; top:285px;}
#top2{height:92px;}
#box_center{background:url('../img/center/box_center.png'); width:520px; height:auto; }
#box_center p{font-size:12px; color:#c9d0d0; margin-left:50px; padding-bottom:20px; text-align:justify; width:420px;}
#box_down1{background:url('../img/center/box_down1.png'); width:520px; height:58px;}
#box_down2{background:url('../img/center/box_down2.png'); width:520px; height:58px;}

#menu_box{position:absolute; margin-top:25px; margin-left:100px;}
#menu_box li{font-size:13px; vertical-align: middle; display: table-cell; padding-left:58px;}
#menu_box a{ color:#b4b7b8;}
#menu_box a:hover{ color:#fff;}

/* Validação formulário */
label.error { color: #f00;  font-size: 12px; display:block; padding-top:10px; color:#d9e7d9;}
label{color:#d1d1d1;}

#frmContact input, select, textarea {position:inherit; background:#181818; height:15px;	border:none; color:#8f8f8f; padding:7px;}
#frmContact textarea {width:380px; height:80px; margin-bottom3px; overflow:auto;}
#frmContact select {width:245px; height:30px; }
#frmContact dt{padding:10px 0 10px 0;}
#frmContact legend {font-size:13px; margin-bottom:15px; width:400px; text-align:center;}
#frmContact .send{height:30px; margin:10px 0 0 335px; width:60px;}
#frmContact{font-size:12px; margin-left:65px; padding-bottom:30px; color:#8f8f8f;}

#error_icon{background:url('../img/error_icon.png') no-repeat; width:14px; height:14px; width:400px; padding-left:20px;}
#cont{display: none; margin-top:5px;}

